.task--creator{
    flex: 1;
    padding-top: 20px;
label,input{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
}
input{
    padding: 15px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    border:none;
    font-size: 13px;
    border-radius: 3px;
}

}